# Camera read only property
vendor_public_prop(camera_ro_prop);
vendor_public_prop(vendor_camera_prop);

# Dirac
vendor_public_prop(dirac_prop);

# Fingerprint
vendor_public_prop(vendor_fingerprint_prop);

#mwqem property
vendor_restricted_prop(vendor_mwqem_prop);

# Thermal engine
vendor_public_prop(thermal_engine_prop);
vendor_public_prop(vendor_thermal_prop);

# Spectrum
type spectrum_prop, vendor_property_type, property_type;

# GPUboost
type gpuboost_prop, vendor_property_type, property_type;

# CPUboost
type cpuboost_prop, vendor_property_type, property_type;

# CPU Core
type cpucore_prop, vendor_property_type, property_type;

# LMK
type lkm_prop, vendor_property_type, property_type;

# TCP
type tcp_prop, vendor_property_type, property_type;

# Wifi
vendor_public_prop(vendor_wifi_prop);
